<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="options()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Comida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Refrigerador</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Leche</h3>
          <p>4 L</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Huevo</h3>
          <p>14 piezas</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Carne de res</h3>
          <p>2 kg</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Alacena</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Miel</h3>
          <p>4 L</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Pasas</h3>
          <p>14 piezas</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Harina</h3>
          <p>2 kg</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>