<ion-content>
  <div class="content">
    <h2>Smart Home</h2>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="text-center">Registro</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
        <br>
        <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password"></ion-input>
        <br>
        <ion-item>
        <ion-checkbox [(ngModel)]="terms" slot="start" checked="false"></ion-checkbox>
          <ion-label>
            <p>Acepto los términos y condiciones</p>
          </ion-label>
        </ion-item>
        <ion-button expand="block" (click)="register()">Registro</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>