<div class="header-container">
  <div *ngIf="showBack" class="back-button-div" (click)="back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </div>
  <div class="header-user" (click)="showUserOptions()">
    <div class="header-avatar"><ion-icon name="person-circle-outline"></ion-icon></div>
    <div class="header-content">email.some@gmail.com</div>
  </div>
  <div class="options-button-div" (click)="showOptions()">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </div>
</div>

<div class="header-space"></div>