<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle class="center">Compras</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="cart-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle class="center">Finanzas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle class="center">Lavandería</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="shirt-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle class="center">Cocina</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="restaurant-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle class="center">Limpieza</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header class="center">
            <ion-card-subtitile class="center">Mascotas</ion-card-subtitile>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="paw-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header class="center">
            <ion-card-subtitile class="center">Roomies</ion-card-subtitile>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="people-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header class="center">
            <ion-card-subtitile class="center">Horarios y notificaciones</ion-card-subtitile>
          </ion-card-header>
          <ion-card-content>
            <div class="big-icon">
              <ion-icon name="alarm-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
